<main>
  <mat-expansion-panel hideToggle >
    <mat-expansion-panel-header>
      <mat-panel-title> Selecione ciclos (opcional) </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="tabela-container">
      <table>
        <thead>
          <tr>
            <th class="coluna-nome">Ciclos</th>
            <th></th>
            <th></th>
            <th>Selecionados/Disponíveis</th>
            <th>Eventos para hoje</th>
          </tr>
        </thead>

        <ng-container
          *ngIf="this.eventsState.categorizedCycles().withEntities.length > 0"
        >
          <tbody class="tabela-ciclos">
            <tr class="grupo-header">
              <td colspan="5">
                Ciclos com entidades disponíveis ({{
                  this.eventsState.categorizedCycles().withEntities.length
                }})
              </td>
            </tr>
            <tr
              *ngFor="
                let cycle of this.eventsState.categorizedCycles().withEntities
              "
            >
              <td>
                <mat-checkbox
                  [(ngModel)]="cycle.selected"
                  (change)="this.eventsState.onCheckboxChange(cycle)"
                >
                </mat-checkbox>
              </td>
              <td>
                <mat-icon [style.color]="cycle.priority | iconColor"
                  >arrow_upward</mat-icon
                >
              </td>
              <td class="coluna-nome">{{ cycle.name }}</td>
              <td class="coluna-icones">
                {{ entitiesModelSignalValue }} / {{ cycle.availableEntities }}
              </td>
              <td class="coluna-icones">
                <span *ngIf="!isNaN(cycle.structure.length)">{{
                  this.getEventsForToday(cycle.structure)
                }}</span>
              </td>
            </tr>
          </tbody>
        </ng-container>

        <ng-container
          *ngIf="
            this.eventsState.categorizedCycles().withoutEntities.length > 0
          "
        >
          <tbody class="tabela-ciclos">
            <tr class="grupo-header">
              <td colspan="5">
                Ciclos sem entidades disponíveis ({{
                  this.eventsState.categorizedCycles().withoutEntities.length
                }})
              </td>
            </tr>
            <tr
              *ngFor="
                let cycle of this.eventsState.categorizedCycles()
                  .withoutEntities
              "
            >
              <td class="coluna-icones">
                <mat-icon [style.color]="cycle.priority | iconColor"
                  >arrow_upward</mat-icon
                >
              </td>
              <td class="coluna-nome">{{ cycle.name }}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </mat-expansion-panel>
</main>
