@use '../../../../../styles/index.scss' as *;


::ng-deep .mat-expansion-panel {
    background-color: transparent !important;
}

.header-title {
    @extend .caption-high;
    color: $colors-Text-text-800;
}

.description {
    @extend .caption-low;
    color: $colors-Text-text-800;
}

.tabela-container {
    margin: 1.25rem;


    .coluna-nome-title {

        color: $colors-button-small;
    }

    .tabela-ciclos {
        border: 0.0625rem solid $cor-borda-tabela;
        border-radius: .5rem;
        overflow: hidden;


        .coluna-icones {
            text-align: center;
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.75rem 0.9375rem;
    text-align: left;
    border-bottom: 0.0625rem solid $cor-borda-tabela;
    font-size: 0.875rem;
}

th {
    @extend .caption-low;
    color: $colors-Text-text-500;
}

tbody:last-child tr:last-child td {
    border-bottom: none;
}

.grupo-header td {
    background-color: $cor-header-grupo-bg;
    font-weight: bold;
    color: $cor-header-grupo;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 0.8125rem;
}

.checkmark {
    font-size: 1.25rem;
}

@media screen and (max-width: 620px) {
    .tabela-container {
        overflow-y: hidden;
        overflow-x: scroll;
    }

}