$color-light-gray: #f5f5f5;

$colors-Text-text-800: #242826;
$colors-Text-text-600: #4F5351;
$colors-Text-text-500: #656866;

$colors-button-small: #2EADF2;


$cor-borda-tabela: #e0e0e0;
$cor-header: #5f6368;
$cor-icone-check: #4CAF50;
$cor-icone-seta: #FF9800;
$cor-header-tabela: #555;
$cor-header-grupo: #757575;
$cor-header-grupo-bg: #f5f5f5;