<section class="events-chart">
  <header class="header-container">
    <h2 class="">Previsão de eventos futuros</h2>
    <p>
      A previsão inclui eventos dos ciclos relacionados às entidades e é
      atualizada sempre que novas entidades forem iniciadas.
    </p>
  </header>
  <figure
    class="chart-container"
    aria-label="Stacked bar chart showing the forecasted quantity of events for the upcoming days, categorized by type: Meetings, Messages, Checkpoints, and Exploration."
  >
    <apx-chart
   #chart
  [series]="chartOptions.series!"
  [chart]="chartOptions.chart!"
  [xaxis]="chartOptions.xaxis!"
  [yaxis]="chartOptions.yaxis!"
  [legend]="chartOptions.legend!"
  [plotOptions]="chartOptions.plotOptions!"
  [dataLabels]="chartOptions.dataLabels!"
  [fill]="chartOptions.fill!"
  [noData]="chartOptions.noData!"
  [responsive]="chartOptions.responsive!"
    ></apx-chart>
  </figure>
</section>
