<main>
  <section class="description">
    <h1>Entidades à iniciar</h1>
    <p>
      Após o inicio, os eventos serão disponibilizados para execução nos dias
      que estão definidos em seus ciclos.
    </p>
  </section>
  <section class="input-form">
    <mat-form-field class="container-input">
      <mat-icon
      class="icon-prefix"
        matTextPrefix
        (click)="eventsState.startNewEntity()"
        (keydown)="eventsState.startNewEntity()"
        tabindex="0"
        >play_arrow</mat-icon
      >
      <input
      class="input-field"
        type="number"
        matInput
        (ngModelChange)="onEntitiesChange($event)"
        min="1"
        pattern="^[0-9]*$"
        [ngModel]="eventsState.entitiesModel()"
        (keydown)="onKeyDown($event)"
      />
      <span matSuffix class="icon-suffix"> Entidades </span>
      <mat-hint align="end">Novos eventos para hoje: {{ todayEvents() }}</mat-hint>
    </mat-form-field>
  </section>
</main>
