<main>
  <section class="description">
    <h1>Entidades à iniciar</h1>
    <p>
      Após o inicio, os eventos serão disponibilizados para execução nos dias
      que estão definidos em seus ciclos.
    </p>
  </section>
  <section class="input-form">
    <mat-form-field class="example-full-width">
        <mat-label>Telephone</mat-label>
        <mat-icon matTextPrefix >mode_edit</mat-icon>
        <input type="tel" matInput >
        <span matSuffix > Entidades </span>
        <mat-hint align="end">Novos eventos para hoje:</mat-hint>
      </mat-form-field>

  </section>
</main>
