<main>
  <section class="description">
    <h1>Entidades à iniciar</h1>
    <p>
      Após o inicio, os eventos serão disponibilizados para execução nos dias
      que estão definidos em seus ciclos.
    </p>
  </section>
  <section class="input-form">
    <mat-form-field class="example-full-width">
      <mat-icon
        matTextPrefix
        (click)="emitEntities()"
        (keydown)="emitEntities()"
        tabindex="0"
        >play_arrow</mat-icon
      >
      <input
        type="number"
        matInput
        min="1"
        pattern="^[0-9]*$"
        [(ngModel)]="entitiesModel"
        (keydown)="onKeyDown($event)"
      />
      <span matSuffix> Entidades </span>
      <mat-hint align="end">Novos eventos para hoje: {{ todayEvents() }}</mat-hint>
    </mat-form-field>
  </section>
</main>
