<section class="event-projection-page">
  <header class="header-container">
      <h1>Iniciar novas Entidades</h1>
      <button aria-label="Fechar seção" class="header-btn-close"><mat-icon>clear</mat-icon></button>
  </header>
  <main class="main-container">
    <section class="entity-input__section">
      <app-entity-input [todayEvents]="returnTodayEvents()"></app-entity-input>
    </section>
    <section class="cycle-selector__section">
      <app-cycle-selector></app-cycle-selector>
    </section>
    <section class="events-chart__section">
      <app-events-chart></app-events-chart>
    </section>
  </main>
  <footer class="footer">
    <button mat-fab extended class="footer-btn-close" aria-label="Fechar">
      Fechar
    </button>
    <button
      mat-fab
      extended
      class="footer-btn-start"
      aria-label="Iniciar novas Entidades"
      (click)="this.eventsState.startNewEntity()"
    >
      Iniciar novas Entidades
    </button>
  </footer>
</section>
