@use '../../../../../styles/index.scss' as *;


.event-projection-page {
  @include flex(column, center, center);
  @include padding-y(3rem);
  @include container-width(100vw);

  .header-container {
    @include flex(row, space-between, center);
    @include container-width(43.375rem);

    h1 {
      @extend .heading-h5;
    }

    .header-btn-close {
      background-color: transparent;
      border: none
    }
  }

  .main-container {
    @include flex(column, flex-start, center);
    @include container-width(43.375rem);
    @include padding-y(1rem);

    .entity-input__section,
    .cycle-selector__section {
      @include padding-y(1rem);
      @include container-width(43.375rem);

      border-bottom: solid 0.125rem $color-light-gray;
    }

    .events-chart__section {
      @include padding-y(1rem);
      @include container-width(43.375rem);

    }
  }

  .footer {
    @include flex(row, flex-end, center, 1rem);
    margin-top: 1.25rem;
    @include container-width(43.375rem);

    .footer-btn-close {
      background-color: $cor-botao-fechar-bg;
    }

    .footer-btn-start {
      background-color: $cor-botao-principal;
      color: $cor-botao-principal-texto;
    }
  }
}